@page
@model IndexModel
@{
    ViewData["LA Recruitments"] = "LA Recruitments";
}

<html>


<head>
    <style>
        ul {
           
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: white;
        }

        .img-container {
            text-align: center;
        }

        li {
            float: left;
        }

            li a {
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

                li a:hover {
                    background-color: yellow;
                }

        body {
            background-color: white;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-position: right;
        }
    </style>
</head>

<body>

    <div class="text-center">
        <h1 class="display-1"> LA RECRUITMENTS</h1>
    </div>

    <div class="img-container">
        <img src="https://images.unsplash.com/photo-1523240795612-9a054b0db644?ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8aGFwcHklMjBzdHVkZW50c3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80" />
        </div>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <div class="w3-container w3-green">
        </div>

        <div class="w3-row-padding">

            <h2 class="text-center">(513) 3879 026 • larecruits@gmail.com • 333 Jefferson, Ohio 45220</h2>

            <div class="w3-third">
                <br>

                <h3>We work to help you get the best match!</h3><br>
                <h3 style="text-align:justify;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">At LA Recruits, we find and connect people around the world to get a best job for your profile. </h3>
                <hr>
            </div>

        </div>

        <h3 style="        color: black;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: xx-large;
        background-color: papayawhip;">
            What do we do?
        </h3>

        <ul style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size: x-large">
            <li> Company Connects  </li>
            
            <li> Resume Consulting </li>
            
            <li> Head Hunting</li>
           
            <li> HR Consulting</li>
            
        </ul>

        <hr>

        <h3 style="        color: black;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: xx-large;
        background-color: papayawhip;">
            HR Consulting
        </h3>
        <h3 style="text-align: justify;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: x-large;">
            We specialize in connecting interested candidates to HR experts from their domain, and help with hiring: IT Solutions, ERP, Development.
        </h3>

        <hr>
        <h3 style="        color: black;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: xx-large;
        background-color: papayawhip;" ;>
            A word from our Clients
        </h3>
        <ul style="        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: x-large">
            <li> "You are sorted with LA Recruits!" -John Doe </li>
            
            <li> "Efficient and Professional team always producing amazing results" -Jane Do </li>
            
            
        </ul>

        <h3 style="color:black;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:xx-large;background-color:papayawhip" ;>How to Apply?</h3>
        <ul style="        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: x-large">
            <p style="text-align:justify;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:x-large">You can send us you requirement in an email with your resume at our- <a href="https://larecruits.com/"> Website </a> or reach out to us on LinkedIn</p>

        </ul>

</body>
</html>