
@page
@model DiceRoller.Pages.DiceRollerModel
@{
    int random = new Random().Next(1, 7);
    int win = 2;
}


            <h1><b>Random Number is 2</b></h1>
            <h1>You WIN if it matches or LOSE if it doesn't</h1>
  
<ul class="nav">
    <li class="divider-vertical"></li>
    </ul>

    @if (random == win)
    {
        <h1>You have Won</h1>
 }
    else
    {@random;
    int remaining = random - win;
    <h1>RandomNumber @random - You have lost. Your number was @remaining off from the winning number.</h1>


}